<div class="page-header">
    <div class="container">
        <h1>Kurs Listesi</h1>
    </div>
  </div>
  <div class="sidebar">
    <div class="sidebar-header">
        <h3>School Management</h3>
    </div>
    <ul class="menu">
        <li><a routerLink="/students">Öğrenci Listesi</a></li>
        <li><a routerLink="/course">Kurs Listesi</a></li>
        <li><a routerLink="/paymenthistory">Ödeme Geçmişi</a></li>
        <li><a routerLink="/installment">Taksit Tablosu</a></li>
        <li><a routerLink="/payment">Ödeme Tablosu</a></li>
        <li><a routerLink="/teacher">Öğretmen Listesi</a></li>
        <li><a routerLink="/studentcourse">Öğrenci ve Kursları  Listesi</a></li>
    </ul>
    <div class="logout">
        <a routerLink="/login">Çıkış Yap</a>
    </div>
</div>
  <div class="container">
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> id. </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="credit">
              <th mat-header-cell *matHeaderCellDef> credit </th>
              <td mat-cell *matCellDef="let element"> {{element.credit}} </td>
            </ng-container>

            

           


           

            
          
          
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
  </div>