<div class="payment-container">
    <header class="header">
      <h1>Taksit Ödeme Sayfası</h1>
      <button class="back-button" (click)="goBack()">Geri Dön</button>
    </header>
    <div class="payment-form">
      <h2>Installment Payment</h2>
      <form (ngSubmit)="payInstallment()">
        <div class="form-group">
          <label for="installmentId">Installment ID:</label>
          <input type="number" id="installmentId" [(ngModel)]="installmentId" name="installmentId" required>
        </div>
        <div class="form-group">
          <label for="amountPaid">Amount Paid:</label>
          <input type="number" id="amountPaid" [(ngModel)]="amountPaid" name="amountPaid" required>
        </div>
        <button type="submit">Pay</button>
      </form>
      <div *ngIf="response" class="response">
        <h3>Payment Response:</h3>
        <pre>{{ response | json }}</pre>
      </div>
    </div>
  </div>
  